*,
html,
body {
	box-sizing: border-box;
	font-size: 10px;
	color: #f4fff4;
	font-family: 'lato', sans-serif;
	scrollbar-width: none;
}

body {
	margin: 0;
	position: absolute;
	top: 0;
}

@media only screen and (max-width: 1390px) {
	*,
	html,
	body {
		font-size: 9px;
	}
}

@media only screen and (max-width: 600px) {
	*,
	html,
	body {
		font-size: 8px;
	}
}

::-webkit-scrollbar {
	display: none;
}
